@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../node_modules/flowbite/**/*.js'; /* Ajout de Flowbite ici ! */

/* 3. Ton thème sur-mesure (Couleurs et Polices) */
@theme {
  --color-sv-blue: #222A60;
  --color-sv-green: #16987C;

  --font-grotesk: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;
}
